{% set ips = [] %}
{%for worker in groups['workers'] %}
  {{ ips.append(hostvars[worker]['ansible_host']) }}
{% endfor %}
for ip in {{ ips|join(' ') }}
do 
  ssh-copy-id -i $HOME/.ssh/*.pub ${USER}@${ip}
done
